<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="customers" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Surname </th>
    <td mat-cell *matCellDef="let customer"> {{customer.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birth Date </th>
    <td mat-cell *matCellDef="let customer"> {{customer.birthDate}} </td>
  </ng-container>

  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef> Preview </th>
    <td mat-cell *matCellDef="let customer">
      <button mat-raised-button color="primary" (click)="openCustomerPreviewDialog(customer)">Details</button>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No Customers Data</td>
  </tr>
</table>
